body {
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
}

#header-nav {
    background-color:lightgray;
    border-radius: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    height: 70px;
}

.navbar-default .navbar-brand h1{
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar-default .navbar-toggle  {
    border: 2px solid black;
}

.navbar-default .navbar-toggle .icon-bar {
    border: 2px solid black;
}

#nav-list {
    margin-top: 0px;
    background-color:lightyellow;
  }


.navbar-default .navbar-nav>li>a {
    color:black;
    font-size: 1.5em;
}

#nav-list a:hover {
    background: rgba(245, 245, 245, 0.326);
    border-color: black;
    border: 2px;
}
hr {
    margin: 0px;
}

.col-xs-12 {
    height: 3000px;
    background-color: lightyellow;
    padding-right: 40px;
    padding-left: 40px;
}
#menutitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em
}

#inner-block {
    font-size: 1.5em
}
.container {
    align-self: center;
    margin: 0;
    padding: 0;
}
#description {
    background-color:lightgray;
    padding-left: 30px;
    padding-right: 30px;
}